.main{
    height: 350px;
    width:80vh;
    margin-top: 80px;
    margin-left: 70px;
    padding: 5px 10px;
    border: 3px solid red;
}

h1{
    border: 3px solid red;
    padding:10px;
}
p{
    border: 3px solid red;
    padding:5px 5px;   
}

ul{
    border: 3px solid red;
    padding: 5px 5px;  
}
li{
    border: 3px solid red;
    padding: 5px 5px;
}
button{
    border: 3px solid red;
    padding: 5px 5px;

}
a{
    border: 3px solid red;
    padding: 5px 5px;
}